// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition


.chips
  margin-bottom: 20px


.links
  margin-left: 10px

.propagandas
  height: 200px
  width: 95vw

.promo
  margin-bottom: -25px

.promo-text-before
  text-decoration: line-through
  margin-bottom: -5px

.destaque
  margin-bottom: -40px

.estab-promo
  margin-top: 10px !important
  margin: 0px auto
  border: 5px solid #212121
  width: 45px

.rating
  border: 1px solid
  border-radius: 5px
  width: 45px
  height: 23px
  padding: 1px 0px 0px 7px