<template>
  <v-app>
    <v-toolbar extended color="primary">
      <v-toolbar-side-icon class="white--text"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title" class="white--text"></v-toolbar-title>
      <v-toolbar-items class="hidden-sm-and-down links">
          <v-btn flat class="white--text" nuxt to="/">Início</v-btn>
          <v-btn flat class="white--text" nuxt to="/pagina-estabelecimento">Estabelecimentos</v-btn>
          <v-btn flat class="white--text">Sobre nós</v-btn>
          <v-spacer></v-spacer>
          
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-btn icon class="white--text" >
            <v-icon>account_circle</v-icon>
      </v-btn>
      <v-text-field
            slot="extension"
            label="Encontre sua oferta"
            append-icon="search"
            solo
      ></v-text-field>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
      fixed
    >
      <v-list>
        <v-list-tile @click.native="right = !right">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        clipped: false,
        drawer: true,
        fixed: false,
        items: [
          { icon: 'apps', title: 'Welcome', to: '/' },
          { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'BigOferta'
      }
    }
  }
</script>
