<template>
    <v-layout justify-space-around row>
        <v-container fluid row>
            <v-flex xs12>
                <h3 class="display-2 mb-4">Produto X</h3>
                <v-card>
                    <v-container grid-list-md text-xs-center>
                        <v-layout row wrap>
                        <v-flex xs7>
                            <!--<v-img
                                class="white--text"
                                height="450px"
                                src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                            >
                            </v-img>-->
                            <v-carousel hide-delimiters >
                                <v-carousel-item
                                v-for="(item,i) in items"
                                :key="i"
                                :src="item.src"
                                ></v-carousel-item>
                            </v-carousel>
                        </v-flex>
                        <v-flex xs5>
                            <v-card-text>
                                <p class="text-xs-right display-1">Promo Cerveja master Foda</p>
                                <p class="text-xs-right subheading">Descrição foda sobre a promoção foda do produto foda.</p>
                                <p class="text-xs-right mb-4"><v-rating
                                    v-model="rating"
                                    background-color="blue"
                                    color="orange"
                                    small
                                ></v-rating>
                                (100 votos)
                                </p>
                                <p class="text-xs-right title promo-text-before mb-3">R$70,00</p>
                                <p class="text-xs-right font-weight-black promo-text-after"><span class="blue--text display-1">R$</span><span class="black--text font-weight-black display-1">50,00</span></p>    
                            </v-card-text>
                            <v-card-actions>
                                <v-btn depressed large block color="blue" class="white--text ">Comprar</v-btn>
                            </v-card-actions>
                            <v-card-text>
                                <p class="text-xs-right grey--text">Essa promoção vence em x dias.</p>    
                            </v-card-text>
                        </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
                <v-container fluid grid-list-xl>
                    <h3 class="display-2 text-xs-center">Mais Ofertas desse Estabelecimento</h3>
                    <hr class="estab-promo text-xs-center mb-2">     
                        <v-layout justify-space-around row>
                            <v-flex lg3>
                            <v-card>
                            <v-img
                                class="white--text"
                                height="200px"
                                src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                            >
                                <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                    <span class="headline font-weight-black">Palomax</span><br>
                                    <span class="title">Matão</span>
                                    </v-flex>
                                </v-layout>
                                </v-container>
                            </v-img>
                            <v-card-text class="promo">
                                <p class="text-xs-left title">Oferta master Barata da cerveja mais top</p>
                                <p class="text-xs-right body-2 promo-text-before">De R$70,00</p>
                                <p class="text-xs-right font-weight-black promo-text-after">Por <span class="blue--text title">R$</span><span class="black--text font-weight-black title">50,00</span></p>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn flat color="blue" >Detalhes</v-btn>
                            </v-card-actions>
                            </v-card>
                            </v-flex>
                            <v-flex lg3>
                            <v-card>
                            <v-img
                                class="white--text"
                                height="200px"
                                src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                            >
                                <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                    <span class="headline">Top 10 Australian beaches</span>
                                    </v-flex>
                                </v-layout>
                                </v-container>
                            </v-img>
                            <v-card-title>
                                <div>
                                <span class="grey--text">Number 10</span><br>
                                <span>Whitehaven Beach</span><br>
                                <span>Whitsunday Island, Whitsunday Islands</span>
                                </div>
                            </v-card-title>
                            <v-card-actions>
                                <v-btn flat color="orange">Share</v-btn>
                                <v-btn flat color="orange">Explore</v-btn>
                            </v-card-actions>
                            </v-card>
                            </v-flex>
                            <v-flex lg3>
                            <v-card>
                            <v-img
                                class="white--text"
                                height="200px"
                                src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                            >
                                <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                    <span class="headline">Top 10 Australian beaches</span>
                                    </v-flex>
                                </v-layout>
                                </v-container>
                            </v-img>
                            <v-card-title>
                                <div>
                                <span class="grey--text">Number 10</span><br>
                                <span>Whitehaven Beach</span><br>
                                <span>Whitsunday Island, Whitsunday Islands</span>
                                </div>
                            </v-card-title>
                            <v-card-actions>
                                <v-btn flat color="orange">Share</v-btn>
                                <v-btn flat color="orange">Explore</v-btn>
                            </v-card-actions>
                            </v-card>
                            </v-flex>
                            <v-flex lg3>
                            <v-card>
                            <v-img
                                class="white--text"
                                height="200px"
                                src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                            >
                                <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                    <span class="headline">Top 10 Australian beaches</span>
                                    </v-flex>
                                </v-layout>
                                </v-container>
                            </v-img>
                            <v-card-title>
                                <div>
                                <span class="grey--text">Number 10</span><br>
                                <span>Whitehaven Beach</span><br>
                                <span>Whitsunday Island, Whitsunday Islands</span>
                                </div>
                            </v-card-title>
                            <v-card-actions>
                                <v-btn flat color="orange">Share</v-btn>
                                <v-btn flat color="orange">Explore</v-btn>
                            </v-card-actions>
                            </v-card>
                            </v-flex>
                        </v-layout>
                    <h3 class="display-2 text-xs-center">Sobre o Estabelecimento</h3>
                    <hr class="estab-promo text-xs-center mb-2">
                    
                        <v-layout row wrap>
                            <v-flex xs2>
                                <v-img
                                
                                    src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                                
                                >
                                </v-img>
                            </v-flex>
                            <v-flex xs4>
                                <v-layout align-start justify-center column fill-height class="mt-3 " style="height: 80px">
                                    <p class="title">Palomax Supermercados</p>
                                    <v-layout row class="ml-1">
                                        <p class="title mr-1 rating orange--text">4.5 </p>
                                        <v-rating
                                            v-model="rating"
                                            background-color="blue"
                                            color="orange"
                                            dense
                                            size="18"
                                        ></v-rating>
                                    </v-layout>
                                    
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    
                </v-container>
            </v-flex>
        </v-container>
        
    </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
          }
        ]
      }
    }
  }
</script>