<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <div class="text-xs-center chips">
        <v-chip color="indigo" text-color="white">
            Doces
        </v-chip>
        <v-chip color="red" text-color="white">
            Salgados
        </v-chip>
        <v-chip color="brown" text-color="white">
            Carnes
        </v-chip>
        <v-chip color="orange" text-color="white">
            Frangos
        </v-chip>
        <v-chip color="green darken-4" text-color="white">
            Vegetarianos
        </v-chip>
      </div>
    </v-flex>
      <v-carousel hide-delimiters class="propagandas">
        <v-carousel-item
          v-for="(item,i) in items"
          :key="i"
          :src="item.src"
        ></v-carousel-item>
      </v-carousel>
    
    <v-container fluid grid-list-xl class="destaque">
      <h3 class="display-2">Ofertas em Destaque</h3>
      <v-layout justify-space-around row>
        <v-flex xs4>
          <v-card>
          <v-img
            class="white--text"
            height="200px"
            src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline font-weight-black">Palomax</span><br>
                  <span class="title">Matão</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>
          <v-card-text class="promo">
            <p class="text-xs-left title">Oferta master Barata da cerveja mais top</p>
            <p class="text-xs-right body-2 promo-text-before">De R$70,00</p>
            <p class="text-xs-right font-weight-black promo-text-after">Por <span class="blue--text title">R$</span><span class="black--text font-weight-black title">50,00</span></p>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="blue">Compartilhar</v-btn>
            <v-btn flat color="blue" nuxt to="/detalhes-produto">Detalhes</v-btn>
          </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card>
          <v-img
            class="white--text"
            height="200px"
            src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline font-weight-black">Palomax</span><br>
                  <span class="title">Matão</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>
          <v-card-title>
            <div>
              <span class="grey--text">Number 10</span><br>
              <span>Whitehaven Beach</span><br>
              <span>Whitsunday Island, Whitsunday Islands</span>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="orange">Share</v-btn>
            <v-btn flat color="orange">Explore</v-btn>
          </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card>
          <v-img
            class="white--text"
            height="200px"
            src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline">Top 10 Australian beaches</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>
          <v-card-title>
            <div>
              <span class="grey--text">Number 10</span><br>
              <span>Whitehaven Beach</span><br>
              <span>Whitsunday Island, Whitsunday Islands</span>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="orange">Share</v-btn>
            <v-btn flat color="orange">Explore</v-btn>
          </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>     
    </v-container>

    <v-container fluid grid-list-xl class="last">
      <h3 class="display-1">Últimas Ofertas</h3>       
      <v-layout justify-space-around row>
        <v-flex lg3>
          <v-card>
          <v-img
            class="white--text"
            height="200px"
            src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline font-weight-black">Palomax</span><br>
                  <span class="title">Matão</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>
          <v-card-text class="promo">
            <p class="text-xs-left title">Oferta master Barata da cerveja mais top</p>
            <p class="text-xs-right body-2 promo-text-before">De R$70,00</p>
            <p class="text-xs-right font-weight-black promo-text-after">Por <span class="blue--text title">R$</span><span class="black--text font-weight-black title">50,00</span></p>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="blue">Compartilhar</v-btn>
            <v-btn flat color="blue" nuxt to="/detalhes-produto">Detalhes</v-btn>
          </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex lg3>
          <v-card>
          <v-img
            class="white--text"
            height="200px"
            src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline">Top 10 Australian beaches</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>
          <v-card-title>
            <div>
              <span class="grey--text">Number 10</span><br>
              <span>Whitehaven Beach</span><br>
              <span>Whitsunday Island, Whitsunday Islands</span>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="orange">Share</v-btn>
            <v-btn flat color="orange">Explore</v-btn>
          </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex lg3>
          <v-card>
          <v-img
            class="white--text"
            height="200px"
            src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline">Top 10 Australian beaches</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>
          <v-card-title>
            <div>
              <span class="grey--text">Number 10</span><br>
              <span>Whitehaven Beach</span><br>
              <span>Whitsunday Island, Whitsunday Islands</span>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="orange">Share</v-btn>
            <v-btn flat color="orange">Explore</v-btn>
          </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex lg3>
          <v-card>
          <v-img
            class="white--text"
            height="200px"
            src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline">Top 10 Australian beaches</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>
          <v-card-title>
            <div>
              <span class="grey--text">Number 10</span><br>
              <span>Whitehaven Beach</span><br>
              <span>Whitsunday Island, Whitsunday Islands</span>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="orange">Share</v-btn>
            <v-btn flat color="orange">Explore</v-btn>
          </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    
  </v-layout>
</template>


<script>
  export default {
    data: () => ({
      show: false
    })
  }
</script>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
          }
        ]
      }
    }
  }
</script>
